
.RData
.Rhistory
ACC.R
ACC_presubgen.R
DASB Paper analysis_MK.Rmd
DASB-Paper-analysis_cache/latex/__packages
DASB-Paper-analysis_cache/latex/unnamed-chunk-10_09cd350e5d18c582bcf7acd8e922c2ed.rdb
*.RData
*.rdx
*.rdb
*.pdf
*.csv
*.xlsx
Data DASB new.xls
Left_amygdala.R
Left_parietal.R
Left_occipital.R
Left_thalamus.R
Midbrain.R
PCC.R
Presubgen.R
Right_frontal.R
Medulla.R
Left_temporal.R
Right_amygdala.R
Right_occipital.R
Right_temporal.R
Right_thalamus.R
Right_parietal.R
Subgen.R
Thalamus.R
Untitled1.R
verwerking data DASB links.frontaal.R
Right_NC.R
Pons.R
Right_hippocampus.R
Left_hippocampus.R
Left_frontal.R
Untitled.R
Left_NC.R
